<div class="page">
    <div class="left-box">
        <nz-table #basicTable [nzData]="listOfData">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>动作名</th>
                    <th>指令</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of basicTable.data;index as i">
                    <td>{{i+1}}</td>
                    <td>{{data.text}}</td>
                    <td>{{data.cmd | obj2str}}</td>
                    <td>
                        <a>修改</a>
                        <nz-divider nzType="vertical"></nz-divider>
                        <a>删除</a>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
    <div class="right-box">
        <json-editor [options]="editorOptions" [data]="inputObject" (change)="getData($event)"></json-editor>
    </div>
</div>